/* commomn styles */
* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.common-btn {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    padding: 12px 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}

.special-color {
    color: #FD6E0A;
}


.common-titile {
    text-align: center;
    color: #181818;
    font-size: 35px;
    font-weight: 700;
}

.common-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    margin: 30px 0px;
    /* 166.667% */
}


/* header styles */
.header {
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, center left;

}

nav {
    display: flex;
    justify-content: space-around;
    margin: 0 200px;
    align-items: center;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}



nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    color: #474747;
    font-size: 20px;
    line-height: normal;
    text-decoration: none;
}

/* banner styles */
.banner {
    display: flex;
    margin: 30px 30px 30px 200px;
    justify-content: space-between;
    align-items: center;
}

.banner-content {
    max-width: 600px;
}

.banner-title-small {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.banner-title-large {
    color: #181818;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    /* 166.667% */
}

.banner-img img {
    height: 500px;
}

/* main styles*/
main {
    width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 200px;
}

/* about styles */
.about {
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
    margin: 130px 0;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.about-info {}

.about-info-title {
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.about-info-description {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

/* what i do styles */
.what-description {
    margin: 30px 150px;
}

/* skill styles */
.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}

.skill-img {}

.skill-title {
    margin-top: 20px;
    color: #181818;
    font-size: 20px;
    font-weight: 700;
}

.skill-description {
    margin-top: 25px;
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    /* 175% */
}

/* Resume styles */
.resume-section {
    display: flex;
    gap: 70px;
    margin-top: 90px;
}

.resume-colum {
    width: 50%;
    gap: ;
}

.resume-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-item {
    margin-top: 25px;
}

.resume-item-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
}

.resume-item-institute {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.resume-item-description {
    color: #757575;
    font-size: 16px;
    line-height: 28px;
    /* 175% */
}

.resume-section hr {
    margin: 30px 0px;
    background: #D1D1D1;
}

.download-cv {
    text-align: center;
    margin-top: 50px;
}

/* footer styles */
footer {
    background: #FFF8F3;
    margin-top: 130px;
    padding: 130px 220px;
    display: flex;
    justify-content: space-between;
    gap: 115px;
}

.footer-column {
    width: 50%;
}

.social-links {
    margin-top: 25px;
}

.social-links a {
    margin-right: 15px;
}

.contact {
    margin-top: 30 px;
}

.contact input[type="text"],
input[type="email"],
textarea {
    display: block;
    width: 100%;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    margin-bottom: 24px;
    padding: 18px 24px;
    color:  #757575;
    font-size: 16px;
    line-height: 28px;
    /* 175% */
}